{{#each items}}
	{{#with this}}
	<div>
		<div>
			<div class="uk-card uk-card-default uk-overflow-hidden">
				<a href="{{url}}" aria-label="Find out more about {{title}}" class="uk-position-cover uk-position-z-index"></a>			
				<div class="uk-card-media-top uk-position-relative">
					<img src="{{getImage}}" alt="{{title}}" width="{{width}}" height="{{height}}" loading="lazy" class="uk-position-relative">
				</div>
				<div class="uk-card-header">
					<div class="uk-card-title">
						{{title}}
					</div>
					{{#if date_pub}}
					<div class="uk-text-meta">{{date_pub}}</div>
					{{/if}}
					{{#if dates}}
					<div class="uk-text-meta">{{dates}}</div>
					{{/if}}
					{{#if location}}
					<div class="uk-text-meta">{{location}}</div>
					{{/if}}
				</div>
				<div class="uk-card-body">
					<p>{{getSummary}}</p>
				</div>
				<div class="uk-card-footer">
					<span class="uk-button uk-button-text uk-button-large uk-position-z-index">Find out more
						{{> renderIcon name="arrow-right"}}
					</span>
				</div>
			</div>
		</div>
	</div>
	{{/with}}
{{/each}}
