<div class="Inputfield {{default class "uk-width-1-1"}}{{#if title}} nb-form-required{{/if}}" id="wrap_nb-form-{{page.name}}_{{name}}">

    <span class="uk-form-label">{{titleLabel}}{{#if titleLabel}}<span>*</span>{{/if}}</span>
	<div class="nb-form-content">
        <div role="alert"></div>
        <div class="radio-group">
            <input id="{{#if radio}}nb-form-{{page.name}}{{checkName}}{{else}}{{name}}{{/if}}" class="uk-input" name="{{name}}" value="{{label}}" type="{{#if radio}}radio{{else}}checkbox{{/if}}">
            <label class="uk-form-label uk-margin-remove-top" for="{{#if radio}}nb-form-{{page.name}}{{checkName}}{{else}}{{name}}{{/if}}">{{label}}</label>
        </div>
	</div>
</div>