<div class="page-bottom uk-position-relative">
    {{#if isCalculator}}
        <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-wrap">
            {{> ukButton icon="arrow-right" label="View Results" size="large" style="primary" class="signup-button-next"}}
        </div>
    {{else if isCalculatorResults}}
        <div class="uk-flex uk-flex-middle uk-flex-between uk-flex-wrap">
            <div class="uk-flex uk-flex-wrap">
                {{> ukButton icon="save" label="Save Answers" size="large" style="text" pull="left"}}
                {{> ukButton icon="telephone" label="Request a call back" size="large" style="text" pull="left"}}
                {{> ukButton icon="retake" label="Retake the quiz" size="large" style="text" pull="left"}}
            </div>
            <div>
                 {{> ukButton icon="signup" label="Sign Up" size="large" style="primary"}}
            </div>
        </div>
    {{else}}
        <div class="uk-flex uk-flex-middle {{#if @first}}uk-flex-right{{else if pageThankYou}}uk-flex-right{{else}}uk-flex-between{{/if}} uk-flex-wrap">
            {{#unless @first}}
            {{#unless pageThankYou}}
                {{> ukButton icon="arrow-left" pull="left" label="Back" size="large" class="signup-button-back uk-margin-right"}}
            {{/unless}}
            {{/unless}}
            <div>
                {{#if signupPayment}}
                    {{> ukButton label="Finish Sign Up Later" size="large" style="text" class="signup-button-later"}}
                    {{> ukButton icon="arrow-right" label="Direct Debit Now" size="large" style="primary" class="signup-button-next"}}
                {{else if pageThankYou}}
                    {{> ukButton icon="arrow-right" label="Direct Debit Now" size="large" style="primary" class="signup-button-next"}}
                {{else}}
                    {{#if saveDetails}}
                    {{> ukButton icon="save" pull="left" label="Save your details for later" size="large" style="text" class="uk-text-left"}}
                    {{/if}}
                    {{#if @last}}
                        {{> ukButton icon="arrow-right" label="Save your details for later" size="large" style="primary"}}
                    {{else}}
                        {{#if confirmButton}}
                            {{> ukButton icon="arrow-right" label="Confirm" size="large" style="primary" class="signup-button-next"}}
                        {{else}}
                            {{> ukButton icon="arrow-right" label="Continue" size="large" style="primary" class="signup-button-next"}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{/if}}
</div>